
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: royalblue;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    gap: 3vw;
    padding: 20px 3vw;
}

.link {
    color: white;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: .5px;
    position: relative;
    padding: 0px 5px;

}

.link::before {
    transition: .3s;
    content: "";
    background-color: white;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;

}

.link:hover::before {
    width: 100%;
}